<h1> Choose your language from the drop-down list </h1>
<form action="/choose_lang" method = "post">
<select name="user_language" width="300px">
{% for key, value in supported_languages.items() %}
    <option value={{value}}>{{key}}</option>
{% endfor %}
</select>
</td>
<td>
    <input type="submit" value="Submit">
</td>
</form>

